:root {
    //TODO: NEW COLORS

    --background-1: #281824;
    --background-2: white; // content background
    --background-3: #45283d; // body background and background of cards
    --background-4: #58304d;
    --background-header-buttons: #56304c; // background of header buttons^
    --background-nav-open: linear-gradient(
        90deg,
        #e442b7,
        #ef656e
    ); // background of nav button when nav is opened^

    --accent-1: #f876d3;
    --accent-1-opaque: rgba(248, 118, 211, 0.75);
    --accent-1-soft: #f68384;

    --content-width: 1080px;
    --nav-height: 65px;

    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --pure-black: #000;
    --pure-white: #fff;

    --userfeedback-info: #0044ff;
    --userfeedback-success: #00ff00;
    --userfeedback-warning: #ffdd00;
    --userfeedback-error: #dd0000;
}
