:root {
    //TODO: NEW COLORS

    --background-1: #37294c;
    --background-2: #403055; // content background
    --background-3: #483561; // body background and background of cards
    --background-4: #543c74;
    --background-header-buttons: #5d427f; // background of header buttons^
    --background-nav-open: linear-gradient(
        90deg,
        #6a4d9b,
        #805fad
    ); // background of nav button when nav is opened^

    --accent-1: #8760d3;
    --accent-1-opaque: rgba(104, 53, 129, 0.75);
    --accent-1-soft: #8b6f9e;

    --content-width: 1080px;
    --nav-height: 65px;

    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --pure-black: #000;
    --pure-white: #fff;

    --userfeedback-info: #0044ff;
    --userfeedback-success: #00ff00;
    --userfeedback-warning: #ffdd00;
    --userfeedback-error: #dd0000;
}
